.home_page_container{
    padding: 20px; 
    max-width: 1000px; 
    margin: 0 auto 
}

.service_section{
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px;
}

.service{
    border: 1px solid #ddd; 
    padding: 20px; 
    border-radius: 10px;
}

.book_button{
    width: 100%; 
    padding: 10px; 
    background: #007bff; 
    color: white; 
    border: none; 
    cursor: pointer;
}