.container{
    width: 80%;
    margin: 0 auto;
}

.profile_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout_button{
    background: #ff4d4d; 
    color: white;
    border: none; 
    padding: 10px; 
}

.features_information{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
    margin-top: 20px;
}

.feature{
    border: 1px solid #ddd;
    padding: 15px; 
    border-radius: 8px; 
    background: #000000ff;
}

.not_active_membership_feature{
    display: flex; 
    gap: 10px; 
    margin-top: 10px;
    justify-content: space-around;
}

.table_topline{
    background: black;
}