.container{
    width: 80%;
    margin: 0 auto;
}

.profile_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile_header h1{
    color: black;
}

.section_header h3{
    color: black;
    font-size: 30px;
    margin: 10px 0;
}

.edit_button{
    margin: 10px 0;
}

.form_group label{
    color: black;
}

.logout_button{
    background: #ff4d4d; 
    color: white;
    border: none; 
    padding: 10px; 
}

.info_display p{
    color: black;
}

.notifications_section h3{
    color: black;
}

.notifications_list li{
    color: black;
    list-style-type: none;
}

.no_data{
    color: black;
}

.features_information{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
    margin-top: 20px;
}

.feature{
    border: 1px solid #ddd;
    padding: 15px; 
    border-radius: 8px; 
    background: #000000ff;
}

.not_active_membership_feature{
    display: flex; 
    gap: 10px; 
    margin-top: 10px;
    justify-content: space-around;
}

.membership_buttons{
    display: flex;
    justify-content: space-around;
}

.table_topline{
    background: black;
}

.history_section h3{
    color: black;
}

.table td{
    color: black;
}