.notification-container {
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}

.bell-icon {
    font-size: 24px;
    position: relative;
}

.badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background: red;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
}

.notification-dropdown {
    position: absolute;
    top: 20px;
    right: -800px;
    width: 300px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    z-index: 1000;
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
}

.notification-dropdown h4 {
    color: black;
    margin: 0 0 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.notif-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notif-list li {
    color: #000;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
}

.notif-list li:last-child {
    border-bottom: none;
}

.notif-list small {
    color: #888;
    display: block;
    margin-top: 5px;
}

.empty-msg {
    text-align: center;
    color: #999;
}

dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.dropdown-header h4 {
    margin: 0;
}

.close-btn {
    cursor: pointer;
    font-weight: bold;
    color: #000000;
    padding: 0 5px;
}

.close-btn:hover {
    color: #999;
}