.login-container {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.login-container h2{
    color: black;
    font-size: 34px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form input{
    padding: 15px 20px;
    border-radius: 15px;
}

.error {
    color: red;
}
